{{ define "main" }}

{{ partial "page-title.html" . }}

<section class="section blog-wrap border-bottom">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-12 mb-5">
            <div class="single-blog-item ">
              <div class="blog-item-meta mt-4 mb-3">
              </div>
              {{ .Content }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}